/*

Variables

*/

$DarkBlue: 03045e;

/* 

All pages styles 

*/

#navigationHeader{
    background-color: $DarkBlue !important;
}
#navigationHeader a{
    color: white;
}
#navigationHeader a:hover{
    color: pink;
}

/*

END

*/


/* --------------------------------------------------------- */


/* 

    Homepage styles 

*/
#homeBody{
    background: white url("/cmmeedi.github.io/cmmeedi.github.io/Assets/forestry.jpg") no-repeat  center;
    background-size: cover;
    height: 100vh;
}

#myName{
    font-size: 8em;
    background: -webkit-linear-gradient(rgb(255, 192, 203, 100%), rgb(0, 0, 255, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#professions{
    background-color: lightblue !important;
}



