/*

Variables

*/

$Blue1: #03045E;
$Blue2: #023e8a;
$Blue3: #0077b6;
$Blue4: #0096c7;
$Blue5: #00b4d8;
$Blue6: #48cae4;
$Blue7: #90e0ef;
$Blue8: #ade8f4;
$Blue9: #caf0f8;

$Pink1: rgb(255, 229, 236);
$Pink2: #ffc2d1;
$Pink3: #ffb3c6;
$Pink4: #ff8fab;
$Pink5: rgb(251, 111, 146);



/* 

All pages styles 

*/

#navigationHeader{
    background-color: $Blue1;
    opacity: 50%;
}
         
.custom-toggler.navbar-toggler {
    border-color: $Pink1;
    transition: border-color .8s
}

.custom-toggler.navbar-toggler:hover {
    border-color: $Pink5;
}

    
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 229, 236, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transition: background-image .8s;
}
.custom-toggler .navbar-toggler-icon:hover {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 111, 146, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navigationHeader a:link{
    color: $Pink1;
    transition: font-size .8s, color .8s;
}
#navigationHeader a:hover{
    color: $Pink4 !important;
    font-size: 2rem;
}
#navigationHeader a:visited{
    color: $Pink2;
}

/*

END

*/


/* --------------------------------------------------------- */


/* 

    Homepage styles 

*/
#nameDiv{
    height: 900px;
}


#homeBody{
    background: white url("/cmmeedi.github.io/cmmeedi.github.io/Assets/forestry.jpg") no-repeat  fixed;
    background-size: cover;
    height: 100vh;
}

#myName{
    font-size: 8em;
    background: -webkit-linear-gradient(rgb(255, 192, 203, 100%), rgb(0, 0, 255, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#professions{
    background-color: rgb(0, 119, 182, 50%) !important;
}



