/*

Variables

*/

$Blue1: rgb(3, 4, 94);
$Blue2: rgb(2, 62, 138);
$Blue3: rgb(0, 119, 182);
$Blue4: rgb(0, 150, 199);
$Blue5: rgb(0, 180, 216);
$Blue6: rgb(72, 202, 228);
$Blue7: rgb(144, 224, 239);
$Blue8: rgb(173, 232, 244);
$Blue9: rgb(202, 240, 248);

$Green1: rgb(34, 87, 122);
$Green2: rgb(56, 163, 165);
$Green3: rgb(87, 204, 153);
$Green4: rgb(128, 237, 153);
$Green5: rgb(199, 249, 204);

$Pink1: rgb(255, 229, 236);
$Pink2: rgb(255, 194, 209);
$Pink3: rgb(255, 179, 198);
$Pink4: rgb(255, 143, 171);
$Pink5: rgb(251, 111, 146);



/* 

All pages styles 

*/
body{
    max-width: 100%;
    max-height: auto;
}

#navigationHeader{
    background-color: $Blue1;
    opacity: 50%;
}
         
.custom-toggler.navbar-toggler {
    border-color: $Pink1;
    transition: border-color .8s
}

.custom-toggler.navbar-toggler:hover {
    border-color: $Pink5;
}

    
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 229, 236, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transition: background-image .8s;
}
.custom-toggler .navbar-toggler-icon:hover {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 111, 146, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navigationHeader a:link{
    color: $Pink1;
    transition: font-size .8s, color .8s;
}
#navigationHeader a:hover{
    color: $Pink4 !important;
    font-size: 2rem;
}
#navigationHeader a:visited{
    color: $Pink2;
}

/*

END

*/


/* --------------------------------------------------------- */


/* 

    Homepage styles 

*/
#nameDiv{
    height: 900px;
}

#innerName{
    background-color: rgba(202, 240, 248, 50%);
}
#innerName p{
    color: $Blue2 !important;
}


#homeBody{
    background: white url("/cmmeedi.github.io/cmmeedi.github.io/Assets/forestry.jpg") no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

#myName{
    font-size: 8em;
    background: -webkit-linear-gradient(rgb(255, 192, 203, 100%), rgb(0, 0, 255, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#professions{
    background-color: rgb(0, 119, 182, 50%) !important;
}

footer{
    color: $Green3;
    background-color: rgb(34, 87, 122, 50%);
}

